1. You have a list of prices in dollars. Convert them to INR using the conversion rate 1 USD = 83
INR. Use a single line of code to do this transformation.
Input: [10, 15.5, 20]
Expected Output: [830, 1286.5, 1660]

In [10]:
list1 = [10, 15.5, 20]
print([x * 83 for x in list1 ])

[830, 1286.5, 1660]

2. Given a list of employee ages, remove all ages that are below 18 or above 60.
Input: [16, 22, 45, 61, 35, 12, 59]
Expected Output: [22, 45, 35, 59]

In [14]:
list2 = [16, 22, 45, 61, 35, 12, 59]
for age in list2:
    if age < 18 or age > 60:
        list2.remove(age)
print(list2)

[22, 45, 35, 59]

3. Take a list of strings and keep only those which are palindromes.
Input: ['radar', 'apple', 'level', 'world', 'madam']
Expected Output: ['radar', 'level', 'madam']

In [18]:
list1 = ['radar','apple','level','world','madam']
print([x for x in list1 if x == x[::-1]])

['radar', 'level', 'madam']

4. You have a list of numbers. Find the sum of only those numbers which are divisible by both 3 and 5.
Input: [10, 15, 30, 45, 50]
Expected Output: 90

In [26]:
list1 = [10, 15, 30, 45, 50]
numbers_which_are_divisible = [num for num in list1 if (num % 3 == 0) and (num % 5 == 0)]
sum_of_numbers = sum(numbers_which_are_divisible)
print(sum_of_numbers)

90

5. From a list of tuples containing names and scores, extract just the names.
Input: [('Alice', 91), ('Bob', 82), ('Clara', 77)]
Expected Output: ['Alice', 'Bob', 'Clara']

In [30]:
list1 = [('Alice', 91), ('Bob', 82), ('Clara', 77)]
print([x[0] for x in list1 ])

['Alice', 'Bob', 'Clara']

6. Create a list of numbers from 1 to 10. Construct another list that contains the cube of only the
even numbers from this list.
Expected Output: [8, 64, 216, 512, 1000]

In [32]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print([num*num*num for num in list1 if num % 2 == 0])

[8, 64, 216, 512, 1000]

7. Given a sentence, split it into words and create a new list that contains the length of each word.
Input: "Python is powerful and fun"
Expected Output: [6, 2, 8, 3, 3]

In [36]:
sentence = "Python is powerful and fun"
words = sentence.split()
print([len(word) for word in words ])

[6, 2, 8, 3, 3]

8. You are given a list of transactions. Each transaction is a dictionary with the key "amount".
Calculate the total amount spent.
Input: [{'amount': 120}, {'amount': 180}, {'amount': 50}]
Expected Output: 350

In [46]:
amounts = [{'amount': 120}, {'amount': 180}, {'amount': 50}]
print(sum([x['amount'] for x in amounts]))

350

9. You have a list of items. Print each item with its position number starting from 501.
Input: ['pen', 'book', 'ruler']
Expected Output: 501 pen, 502 book, 503 ruler

In [58]:
list1 = ['pen', 'book', 'ruler']
for index, x in enumerate(list1, start = 501):
    print(index, x, end = " , ")

501 pen , 502 book , 503 ruler ,

10. From a list of temperatures in Celsius, create a new list with temperatures labeled as 'Cold' if
below 15, 'Warm' if between 15 and 25, and 'Hot' otherwise.
Input: [10, 20, 30]
Expected Output: ['Cold', 'Warm', 'Hot']

In [60]:
temp = [10, 20, 30]
print(['cold' if x < 15 else 'warm' if 15 <= x <= 25 else 'hot' for x in temp])

['cold', 'warm', 'hot']